body{
    background-color: #d45959;
}
body{
    background-color: #d45959;
}
body{
    background-color: #be6a32;
}
body{
    background-color: #a8a029;
}
body{
    background-color: #20d4a7;
}
body{
    background-color: #53941e;
}
body{
    background-color: #ac0790;
}
body{
    background-color: #d80d94;
}
body{
    background-color: #66bb06;
}
body{
    background-color: #9b5b86;
}
body{
    background-color: #d45959;
}
body{
    background-color: #0d505c;
}