body,
* {
  padding: 0;
  margin: 0;
}

.Hero-container {
  display: grid;
  grid-template-columns: 50% 35% 15%;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}

.item1 {
  /* background-color: #0000ff57; */

  align-self: center;
  justify-self: center;
  margin: 10%;
  font-size: 20px;
}

.item1 h1,
p,
b {
  margin: 30px;
}

.item1 button {
  margin-left: 30px;
  padding: 7px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 6px;
}

.item2 {
  /* background-color: #78831a; */

  align-self: center;
  justify-self: center;
}

.item2 img {
  width: 100%;
  height: 100%;
}

.item3 {
  background-color: #eee1339a;
}
