@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body,
* {
  padding: 0;
  margin: 0;
}

body,
* {
  padding: 0;
  margin: 0;
}

#main-container {
  position: relative;
}

a {
  text-decoration: none;
  color: aliceblue;
}

/* ***********************Navbar Styling *********************** */

body {
  width: 100vw;
  height: 100vh;
  font-size: larger;
}

#nav-container {
  background-color: azure;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 60px);
  align-items: center;
  justify-content: space-evenly;
}

.item-1 img {
  width: 60px;
  padding: 30px;
}

.item-5 {
  background-color: #67f067;
  align-self: center;
  justify-self: center;
  padding: 5px 30px;
  border-radius: 7px;
}

.item-2 {
  align-self: center;
  justify-self: end;
}

.item-3 {
  align-self: center;
  justify-self: center;
}

.item-4 {
  align-self: center;
  justify-self: start;
}

/************************ Navbar styling *********************** */
.Hero-container {
  display: grid;
  grid-template-columns: 50% 35% 15%;
  width: 100vw;
  height: 100vh;
  /* background-color: #ddd; */
}

.item1 {
  /* background-color: #0000ff57; */

  align-self: center;
  justify-self: center;
  margin: 10%;
  font-size: 20px;
}

.item1 h1,
p,
b {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Cabin", sans-serif;
}

.item1 button {
  margin-left: 30px;
  padding: 7px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 6px;
}

.item2 {
  /* background-color: #78831a; */

  align-self: center;
  justify-self: center;
  height: 100vh;
}

.item2 img {
  width: 100%;
  height: 100%;
}

.item3 {
  background-color: #eee1339a;
  height: 100vh;
}

/* Footer Style  */
.footer-container {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: rgba(77, 26, 26, 0.726);
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  justify-items: center;
  text-align: center;
}

.footer-items img {
  width: 200px;
  height: 200px;
  padding: 5%;
}

.footer-items h3 {
  color: #fffdfa;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.footer-items p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
}

                       /*  Additonal function Item  */
