body {
  background-color: rgb(15, 15, 15);
}

h1 {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(400px, 1fr));
  gap: 30px;
  justify-content: space-evenly;
}

.items {
  background-color: aqua;
  border-radius: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.items:hover {
  opacity: 1;
}

.items-1 {
  background-color: #d45959;
}

.items-2 {
  background-color: #d45959;
}

.items-3 {
  background-color: #be6a32;
}

.items-4 {
  background-color: #a8a029;
}

.items-5 {
  background-color: #20d4a7;
}

.items-6 {
  background-color: #53941e;
}

.items-7 {
  background-color: #ac0790;
}

.items-8 {
  background-color: #d80d94;
}

.items-9 {
  background-color: #66bb06;
}

.items-10 {
  background-color: #9b5b86;
}

.items-11 {
  background-color: #d45959;
}

.items-12 {
  background-color: #0d505c;
}
